<app-loggin-form *ngIf="!service.loggedIn"></app-loggin-form>

<div *ngIf="service.loggedIn">

  <div *ngFor="let card of service.cards; index as i">
    <app-card [card]="card" [cardNum]="i"></app-card>
  </div>

    <div (click)="service.makeMove(card)" *ngFor="let card of service.cards; index as i">card{{i}}
      : {{CardValues[card.cardValue]}}
      , {{CardColors[card.cardColor]}}
    </div>

  <h3 *ngIf="service.atout != undefined">Atout: {{CardValues[service.atout.cardValue]}}
    , {{CardColors[service.atout.cardColor]}}</h3>
  <h1>CardCount: {{service.cardCount}}</h1>

  <div *ngIf="service.currCard != undefined">CurrCard: {{CardValues[service.currCard.cardValue]}}
    , {{CardColors[service.currCard.cardColor]}}</div>
</div>

<app-end-screen *ngIf="service.end"></app-end-screen>
