  <app-loggin-form *ngIf="!service.loggedIn"></app-loggin-form>

  <app-waitlist *ngIf="service.loggedIn && !service.started"></app-waitlist>

  <div id="game" *ngIf="service.started">
    <h1>Dein Gegner: {{service.opponent}}</h1>

    <div id="middle">
      <div>
        <app-new-card *ngIf="service.currCard == undefined" id="placeHolder"></app-new-card>
        <app-new-card *ngIf="service.currCard != undefined" [colorC]="service.currCard.cardColor"
                      [valueC]="service.currCard.cardValue"></app-new-card>
      </div>

      <app-new-card (click)="service.cover()" [class.coverd]="service.covered" id="atout" *ngIf="service.atout != undefined" [colorC]="service.atout.cardColor"
                    [valueC]="service.atout.cardValue"></app-new-card>
    </div>

    <div class="handCards">
      <div *ngFor="let card of service.cards; index as i" class="handCard">
        <app-new-card (click)="service.makeMove(card)" [colorC]="card.cardColor"
                      [valueC]="card.cardValue"></app-new-card>
      </div>
    </div>

    <button *ngIf="service.say20" (click)="service.send20()">say20</button>
    <button *ngIf="service.say40" (click)="service.send40()">say40</button>
    <button *ngIf="service.changeAtout" (click)="service.austauschen()">swap atout</button>
    <h2>CardCount: {{service.cardCount}}</h2>
  </div>
  <app-end-screen *ngIf="service.end"></app-end-screen>
